body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: blue;
}

#dropdown {
    display: none;
    background: #333;
    width: 150px;
}

#dropdown a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
