# Node modules
node_modules/

# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/editor folders
.idea/
.vscode/

# Build folders (React)
build/
dist/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log
backend/JSON/1459942488293769382.json
backend/JSON/ctc_s1_d1_2/W1 6c (_)-.json
backend/JSON/ctc_s1_d1_2/W1 Flag O.json
backend/JSON/ctc_s1_d1_2/W1 Mi TMNG.json
backend/JSON/ctc_s1_d1_2/W1 sts BBB.json
backend/JSON/ctc_s1_d1_2/W1 T Za.json
backend/JSON/ctc_s1_d1_2/W2 (_)- BBB.json
backend/JSON/ctc_s1_d1_2/W2 6c T.json
backend/JSON/ctc_s1_d1_2/W2 O Mi.json
backend/JSON/ctc_s1_d1_2/W2 TMNG sts.json
backend/JSON/ctc_s1_d1_2/W2 Za Flag.json
backend/JSON/ctc_s1_d1_2/W3 BBB TMNG.json
backend/JSON/ctc_s1_d1_2/W3 Flag 6c.json
backend/JSON/ctc_s1_d1_2/W3 Mi Za.json
backend/JSON/ctc_s1_d1_2/W3 sts O.json
backend/JSON/ctc_s1_d1_2/W3 T (_)-.json
backend/JSON/ctc_s1_d1_2/W4 (_)- TMNG.json
backend/JSON/ctc_s1_d1_2/W4 6c Mi.json
backend/JSON/ctc_s1_d1_2/W4 O BBB.json
backend/JSON/ctc_s1_d1_2/W4 T Flag.json
backend/JSON/ctc_s1_d1_2/W4 Za sts.json
backend/JSON/ctc_s1_d1_2/W5 Flag (_)-.json
backend/JSON/ctc_s1_d1_2/W5 TMNG O.json
backend/JSON/ctc_s1_d1_2/W6 (_)- O.json
backend/JSON/ctc_s1_d1_2/W6 Flag Mi.json
backend/JSON/ctc_s1_d1_2/W6 Za TMNG.json
backend/JSON/ctc_s1_d1_2/W7 BBB T.json
backend/JSON/ctc_s1_d1_2/W7 Mi (_)-.json
backend/JSON/ctc_s1_d1_2/W7 O Za.json
backend/JSON/ctc_s1_d1_2/W7 sts Flag.json
backend/JSON/ctc_s1_d1_2/W7 TMNG 6c.json
backend/JSON/ctc_s1_d1_2/W8 6c O.json
backend/JSON/ctc_s1_d1_2/W8 Flag BBB.json
backend/JSON/ctc_s1_d1_2/W8 Mi sts.json
backend/JSON/ctc_s1_d1_2/W8 T TMNG.json
backend/JSON/ctc_s1_d1_2/W8 Za (_)-.json
backend/JSON/ctc_s1_d1_2/W9 O T.json
backend/JSON/ctc_s1_d1_2/W9 sts (_)-.json
backend/JSON/ctc_s1_d1_2/W9 TMNG Flag.json
backend/JSON/ctc_s1_d3/W1 fr \[80].json
backend/JSON/ctc_s1_d3/W1 SN SLAY.json
backend/JSON/ctc_s1_d3/W1 u_s Ei.json
backend/JSON/ctc_s1_d3/W2 \[80] fr.json
backend/JSON/ctc_s1_d3/W2 Ei u_s.json
backend/JSON/ctc_s1_d3/W2 SLAY SN.json
backend/JSON/ctc_s1_d3/W3 CPFG Ei.json
backend/JSON/ctc_s1_d3/W3 FIB fr.json
backend/JSON/ctc_s1_d3/W3 SLAY u_s.json
backend/JSON/ctc_s1_d3/W3 SN \[80].json
backend/JSON/ctc_s1_d3/W4 \[80] SLAY.json
backend/JSON/ctc_s1_d3/W4 Ei FIB.json
backend/JSON/ctc_s1_d3/W4 u_s CPFG.json
backend/JSON/ctc_s1_d3/W5 \[80] u_s.json
backend/JSON/ctc_s1_d3/W5 CPFG SN.json
backend/JSON/ctc_s1_d3/W5 Ei fr.json
backend/JSON/ctc_s1_d3/W5 SLAY FIB.json
backend/JSON/ctc_s1_d3/W6 FIB SLAY.json
backend/JSON/ctc_s1_d3/W6 fr Ei.json
backend/JSON/ctc_s1_d3/W6 SN CPFG.json
backend/JSON/ctc_s1_d3/W6 u_s 80.json
backend/JSON/ctc_s1_d3/W7 FIB \[80].json
backend/JSON/ctc_s1_d3/W7 SLAY Ei.json
backend/JSON/ctc_s1_d3/W7 SN u_s.json
backend/JSON/ctc_s1_d3/W8 \[80] CPFG.json
backend/JSON/ctc_s1_d3/W8 Ei SN.json
backend/JSON/ctc_s1_d3/W8 fr SLAY.json
backend/JSON/ctc_s1_d3/W9 Ei \[80].json
backend/JSON/ctc_s1_d3/W9 SLAY CPFG.json
backend/JSON/ctc_s1_d3/W9 SN FIB.json
backend/JSON/ctc_s1_d3/W9 u_s fr.json
backend/JSON/ctc_s1_d3/W10 \[80] Ei.json
backend/JSON/ctc_s1_d3/W10 CPFG SLAY.json
backend/JSON/ctc_s1_d3/W10 FIB SN.json
backend/JSON/ctc_s1_d3/W10 fr u_s.json
backend/JSON/ctc_s1_d4/W1 F_s u.json
backend/JSON/ctc_s1_d4/W1 Nw vf.json
backend/JSON/ctc_s1_d4/W1 Zog G25.json
backend/JSON/ctc_s1_d4/W2 G25 Zog.json
backend/JSON/ctc_s1_d4/W2 u F_s.json
backend/JSON/ctc_s1_d4/W2 vf Nw.json
backend/JSON/ctc_s1_d4/W3 Nw u.json
backend/JSON/ctc_s1_d4/W3 vf G25.json
backend/JSON/ctc_s1_d4/W4 G25 vf.json
backend/JSON/ctc_s1_d4/W4 u Nw.json
backend/JSON/ctc_s1_d4/W5 F_s Nw.json
backend/JSON/ctc_s1_d4/W5 G25 u.json
backend/JSON/ctc_s1_d4/W5 vf Zog.json
backend/JSON/ctc_s1_d4/W6 Nw F_s.json
backend/JSON/ctc_s1_d4/W6 u G25.json
backend/JSON/ctc_s1_d4/W6 Zog vf.json
backend/JSON/ctc_s1_d4/W7 G25 Nw.json
backend/JSON/ctc_s1_d4/W7 u Zog.json
backend/JSON/ctc_s1_d4/W8 Nw G25.json
backend/JSON/ctc_s1_d4/W8 vf F_s.json
backend/JSON/ctc_s1_d4/W8 Zog u.json
backend/JSON/ctc_s1_d4/W9 F_s G25.json
backend/JSON/ctc_s1_d4/W9 u vf.json
backend/JSON/ctc_s1_d4/W10 vf u.json
